<div id="dat-user" class="ficha-user">
        <div id="dat-user-cont">
            <div class="ficha-spin"><i class="fa fa-spinner fa-spin fa-1x fa-fw"></i></div>
        </div>
        <div class="ficha-cerrar"><a onclick="cerrar_ficha()"><%= icon('times') %></a></div>
</div>