<div class="popup popup-login">
    <div class="popup-content">
        <div class="popup-main">
            <a href="#" class="close">
                <%= icon('close') %>
            </a>

            <h2 class="popup-title">Inicia sesión</h2>

            <form class="form-login" action="<%= api_v1_users_path() %>" method="post">
            </form>
        </div>
    </div>
</div>
