.contact-h1 {
    margin-left: 10px;
}

.contact-subt{
    font-size: 120%;
    color: grey;
    margin-left: 15px;
    margin-right: 25px;
    text-align: justify;
}
.contact-subt2{
    margin-left: 25px;
    text-align: justify;
    margin-right: 25px;
}

.contact-social-list{
    margin-left: 25px;
    font-size: 200%;
    
    li {
        color: grey;
        i {
            color: $color-blue;
        }
    }
}

.contact-fields{
    width: 100%;
    display: inline-block;
    form {
     table{
         width: 50%;
          @media all and (max-width: 870px) {
                        width: 70%;
                    }
        @media all and (max-width: 415px) {
                        width: 95%;
                    }
        td {
          font-size: 120%;
          text-align: center;
          input, textarea{
              width: 95%;
              
              left: 40px;
              
              z-index: 0;
              
          }
         }
        }
    }
}

.contact-text {
   height: 300px; 
}

.contact-img{
    position: absolute;
    top: 30%;
    right: 5%;
    z-index: -10;
    opacity: 0.20;
}