.est-leftcol{
    background: $color-purewhite;
     float:left;
     width:calc(100% - 320px);
}

.est-rightcol{
    background: $color-purewhite;
     float:right;
     width:300px;
}

.est-table{
    width:100%;
    text-align:center;
    font-size:100%;
    height:800px;
    border-style:solid;
    border-width:1px;
}

.est-titulo{
    text-align:left;
    margin-right:5%;
    font-size:150%;
    font-weight:bold;
}

.est-icono{
    font-size:200%;
}

.est-text{
    text-align:right;
    Color:gold;
}

.est-img{
    max-width:50%;
    height:auto;
    width:auto/9;
}

.est-titulo2{
    text-align:right;
    margin-right:5%;
    font-size:100%;
    font-weight:bold;
}

.est-tabler{
    width:100%;
    text-align:center;
    font-size:100%;
    height:100px;
    border-style:solid;
    border-width:1px;
}
