.est-leftcol{
    //background: $color-blue;
    float: left;
    width: 65%;
    padding: 5%;
    //border-style: solid;
    background-image: url("/assets/1x1.png");
    
    box-shadow: 4px 4px 10px #999;
}

.est-rightcol{
    
    float: right;
    width: 30%;
    padding: 5%;
    background-color: white;
    //background-image: url("/assets/1x1.png");
    box-shadow: 4px 4px 10px #999;
}

.est-icono{
    font-size:200%;
}

.est-icons{
    text-align:right;
    Color:gold;
}

.est-img{
    max-width:50%;
    height:auto;
    width:auto/9;
}

.est-carct{
    float: left;
    width: 33%;
    height: 10%;
    text-align: center;
}

.est-img-doble{
    max-width: 48%;
    height: auto;
    width: auto/9;
    
}

.est-linea1{
    background-color: grey;
    text-align: center;
}

.est-titulo{
    font-size: 150%;
    position: relative;
    font-weight: bold;
}

.est-dir{
    
}
.est-valor{
    position: absolute;
    right: 5px;
    color: gold;
    text-align: right;
}

.est-sub-t{
    font-size: 130%;
}

.est-sub-cont{
    width: 90%;
    padding-left: 10%;
    color: white;
    font-weight: bold;
    font-size: 120%;
}

.est-map-fondo{
    position: absolute;
    top: 75%;
    left: 0px;
    z-index: -100;
    opacity: 0.30;
}

.est-verde{
    i {
     color: green;   
    }
}

.est-area-boton{
    text-align: center;
}