.est-text {
    float: left;
    width: 10%;
    font-size: 100%;
    color: black;
    text-align: justify;
}

.est-text2 {
    float: left;
    font-size: 80%;
    color: grey;
    text-align: justify;
}

.est-win {
    overflow: visible;
}