.est-text {
    float: left;
    font-size: 80%;
    color: black;
    text-align:center;
}

.est-text2 {
    float:left;
    font-size:70%;
    color: grey;
    text-align:center;
}

.est-win {
    overflow:auto;
}

.table{
    border-bottom: none;
    font-weight: 600;
    vertical-align: bottom;
    text-align: center;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}