.res-card{
    border: solid 1px;
    padding: 5px;
    margin: 5px;
    //display: inline-block;
    width: 200px;
    border-radius: 10px;
}

.res-carrousel{
    overflow-x: auto;
    width: 100%;
}