#map {
        width: 55%;
        height: 600px;
        background-color: grey;
        //float:left;
        //border-style: ridge;
        border-radius: 10px;
        display:inline-block;
      }
.left-block {
        width: 40%;
        height: 600px;
        //float:left;
        //border-style: ridge;
        overflow: auto;
        text-align:center;
        border-radius: 10px;
        display:inline-block;
}


.titulo-search {
        font-size: 200%;
        font-weight: bold;
        color: grey;
}

.list-img{
        width: 80px;
        height: 80px;
        background-color: white;
        border-style: ridge;
        margin:5px;
}

.box-oferta{
        //border-style: ridge;
        //width:60%;
        text-align:left;
        margin:0;
        display:inline-block;
        background-color: $color-purewhite;
        border-radius: 5px;
        padding:10px;
        
}


.big-icon-search{
        font-size: 150%;
}

#idts {
      width:60px;
      text-align:center;
      padding:0px;
      vertical-align:bottom;
}

#search-subt{
       font-size: 120%;
       font-weight:bold;
}