.sp-input{
    width:50%;
    border-radius: 5px;
    line-height: 20px;
}

.sp-iconfield{
    margin-left: 5px;
    margin-bottom: 10px;
    font-size: 120%;

    
}

.sp-form {
    div {
        div {
            margin-left: 5px;
            margin-bottom: 10px;
            font-size: 120%;
        }
        
        input, select {
            width:50%;
            border-radius: 5px;
            line-height: 20px;
            margin-bottom: 20px;
        }
        
        select {
            height: 25px;
            
        }
        
    }
}

.show-load {
        color: #B9A200;
    font-size: 150%;
    display: none;
}

.show-error {
        color: red;
    font-size: 150%;
    display: none;
}

.show-ok {
        color: green;
    font-size: 150%;
    display: none;
}

.show-boton{
    background-color: $color-blue;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-bottom: 5px;
}