<!--<p class="titulo-search">Ofertas cerca a mi!</p>-->

<div id="map"></div>
<%= render "search/parts/map" %>
<div class="left-block" id="listoffers">
    <%= render "search/parts/listoffers" %>
</div>
<!--<br><br><br><br>-->
<!-- fin  -->