<div class="content">
    <br><br>
    <h1 class="contact-h1">Acerca de Nosotros</h1>
    <p class="contact-subt">Somos un equipo de estudiantes de la Universidad Peruana de Ciencias aplicadas UPC, pertenecientes al curso Desarrollo para Entorno Web (IS211-C41A), estamos desarrolando una aplicacion web como parte del proyecto del curso. "Tu auto como en casa".</p>
    <p class="contact-subt">Equipo:</p>
    <ol>
        <li class="contact-subt">
        Pasache Elias, Oscar Christian u201620807
        </li>
        <li class="contact-subt">
        Guanilo Cabanillas, Gabriel Douglas u201616293
        </li>
        <li class="contact-subt">
        Gonzales Cotrina, Kenny Robertson u201621174
        </li>
        <li class="contact-subt">
        Garay Zelada Renzo u201724223
        </li>
    </ol>
    <br><br><br><br>
</div>