<div class="est-rightcol">
    <div>
        S./ 600
        Mensual
    </div>
    <div>Fecha de Inicio
        <input type="date">
    </div>
    <div>
        Meses a reservar
        <input type="text">
    </div>
    <div>
        por un mes
    </div>
    <div>
        <div>
            Total
            S./600
        </div>
        <div><p align="center"><input type="button" align="centre" value="Solicitar"></p></div>
    </div>
</div>