<%# @Offers.each do |offer| %>
<% oferta = Offer.find(cookies[:offerID]) %>
<div class="est-rightcol">
    <div>
        S./<%= oferta.price %>
        Mensual
    </div>
    <!--<div>Fecha de Inicio
        <input type="date">
    </div>
    <div>
        Meses a reservar
        <input type="text">
    </div>
    <div>
        por un mes
    </div>
    <div>
        <div>
            Total
            <%= oferta.price%>
        </div>
        
    </div>-->
    <div><p align="center"><input type="button" align="center" value="Solicitar" onclick="save_deal()"></p></div>
    <div class="show-error" id="error"><%= icon("times") %> Error</div>
    <div class="show-load"  id="loading"><i class="fa fa-spinner fa-spin fa-1x fa-fw"></i>Cargando...</div>
    <div class="show-ok" id="ok"><%= icon("check") %> Datos actualizados!</div>
    
    <%# end %>
</div>