.alert {
    color          : $color-white;
    width          : 100%;
    border-radius: 5px;
}

.alert-alert {
    background     :#B2D7B6;
    color          : black;
}

.alert-notice {
    background     :#F6CDC9;
    color          : $color-white;
}