.btn{
    height: 35px;
    padding: 0 15px;
    line-height: 35px;
    color: $color-white;
    display: inline-block;
    background: $color-black;
    border: 1px solid $color-black;
    outline: none;

    @include border-radius( 5px );
    @include transition(all .1s ease-in-out);

    &:hover{
        color: $color-black;
        background-color: $color-white;
    }

    &.btn-outline{
        color: $color-black;
        background: transparent;
        border-color: $color-black;

        &:hover{
            color: $color-white;
            background-color: $color-black;
        }
    }

    &.btn-primary{
        height: auto;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        padding: 15px 15px;
        color: $color-white;
        border-color: $color-blue-dark;
        background-color: $color-blue-dark;

        &:hover{
            border-color: darken($color-blue-dark, 10%);
            background-color: darken($color-blue-dark, 10%);
        }
    }
}
