@font-face {
    font-family: 'Open Sans';
    src: font-url('open-sans/OpenSans-ExtraboldItalic.eot');
    src: font-url('open-sans/OpenSans-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
        font-url('open-sans/OpenSans-ExtraboldItalic.woff2') format('woff2'),
        font-url('open-sans/OpenSans-ExtraboldItalic.woff') format('woff'),
        font-url('open-sans/OpenSans-ExtraboldItalic.ttf') format('truetype'),
        font-url('open-sans/OpenSans-ExtraboldItalic.svg#OpenSans-ExtraboldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: font-url('open-sans/OpenSans-Semibold.eot');
    src: font-url('open-sans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
        font-url('open-sans/OpenSans-Semibold.woff2') format('woff2'),
        font-url('open-sans/OpenSans-Semibold.woff') format('woff'),
        font-url('open-sans/OpenSans-Semibold.ttf') format('truetype'),
        font-url('open-sans/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: font-url('open-sans/OpenSans-Italic.eot');
    src: font-url('open-sans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
        font-url('open-sans/OpenSans-Italic.woff2') format('woff2'),
        font-url('open-sans/OpenSans-Italic.woff') format('woff'),
        font-url('open-sans/OpenSans-Italic.ttf') format('truetype'),
        font-url('open-sans/OpenSans-Italic.svg#OpenSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: font-url('open-sans/OpenSans-Extrabold.eot');
    src: font-url('open-sans/OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'),
        font-url('open-sans/OpenSans-Extrabold.woff2') format('woff2'),
        font-url('open-sans/OpenSans-Extrabold.woff') format('woff'),
        font-url('open-sans/OpenSans-Extrabold.ttf') format('truetype'),
        font-url('open-sans/OpenSans-Extrabold.svg#OpenSans-Extrabold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: font-url('open-sans/OpenSans-Bold.eot');
    src: font-url('open-sans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        font-url('open-sans/OpenSans-Bold.woff2') format('woff2'),
        font-url('open-sans/OpenSans-Bold.woff') format('woff'),
        font-url('open-sans/OpenSans-Bold.ttf') format('truetype'),
        font-url('open-sans/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: font-url('open-sans/OpenSansLight-Italic.eot');
    src: font-url('open-sans/OpenSansLight-Italic.eot?#iefix') format('embedded-opentype'),
        font-url('open-sans/OpenSansLight-Italic.woff2') format('woff2'),
        font-url('open-sans/OpenSansLight-Italic.woff') format('woff'),
        font-url('open-sans/OpenSansLight-Italic.ttf') format('truetype'),
        font-url('open-sans/OpenSansLight-Italic.svg#OpenSansLight-Italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: font-url('open-sans/OpenSans-BoldItalic.eot');
    src: font-url('open-sans/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        font-url('open-sans/OpenSans-BoldItalic.woff2') format('woff2'),
        font-url('open-sans/OpenSans-BoldItalic.woff') format('woff'),
        font-url('open-sans/OpenSans-BoldItalic.ttf') format('truetype'),
        font-url('open-sans/OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: font-url('open-sans/OpenSans-Light.eot');
    src: font-url('open-sans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        font-url('open-sans/OpenSans-Light.woff2') format('woff2'),
        font-url('open-sans/OpenSans-Light.woff') format('woff'),
        font-url('open-sans/OpenSans-Light.ttf') format('truetype'),
        font-url('open-sans/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: font-url('open-sans/OpenSans-SemiboldItalic.eot');
    src: font-url('open-sans/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        font-url('open-sans/OpenSans-SemiboldItalic.woff2') format('woff2'),
        font-url('open-sans/OpenSans-SemiboldItalic.woff') format('woff'),
        font-url('open-sans/OpenSans-SemiboldItalic.ttf') format('truetype'),
        font-url('open-sans/OpenSans-SemiboldItalic.svg#OpenSans-SemiboldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: font-url('open-sans/OpenSans.eot');
    src: font-url('open-sans/OpenSans.eot?#iefix') format('embedded-opentype'),
        font-url('open-sans/OpenSans.woff2') format('woff2'),
        font-url('open-sans/OpenSans.woff') format('woff'),
        font-url('open-sans/OpenSans.ttf') format('truetype'),
        font-url('open-sans/OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: font-url('source-sans-pro/SourceSansPro-Regular.eot');
    src: font-url('source-sans-pro/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        font-url('source-sans-pro/SourceSansPro-Regular.woff2') format('woff2'),
        font-url('source-sans-pro/SourceSansPro-Regular.woff') format('woff'),
        font-url('source-sans-pro/SourceSansPro-Regular.ttf') format('truetype'),
        font-url('source-sans-pro/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: font-url('source-sans-pro/SourceSansPro-BoldIt.eot');
    src: font-url('source-sans-pro/SourceSansPro-BoldIt.eot?#iefix') format('embedded-opentype'),
        font-url('source-sans-pro/SourceSansPro-BoldIt.woff2') format('woff2'),
        font-url('source-sans-pro/SourceSansPro-BoldIt.woff') format('woff'),
        font-url('source-sans-pro/SourceSansPro-BoldIt.ttf') format('truetype'),
        font-url('source-sans-pro/SourceSansPro-BoldIt.svg#SourceSansPro-BoldIt') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: font-url('source-sans-pro/SourceSansPro-Light.eot');
    src: font-url('source-sans-pro/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
        font-url('source-sans-pro/SourceSansPro-Light.woff2') format('woff2'),
        font-url('source-sans-pro/SourceSansPro-Light.woff') format('woff'),
        font-url('source-sans-pro/SourceSansPro-Light.ttf') format('truetype'),
        font-url('source-sans-pro/SourceSansPro-Light.svg#SourceSansPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: font-url('source-sans-pro/SourceSansPro-It.eot');
    src: font-url('source-sans-pro/SourceSansPro-It.eot?#iefix') format('embedded-opentype'),
        font-url('source-sans-pro/SourceSansPro-It.woff2') format('woff2'),
        font-url('source-sans-pro/SourceSansPro-It.woff') format('woff'),
        font-url('source-sans-pro/SourceSansPro-It.ttf') format('truetype'),
        font-url('source-sans-pro/SourceSansPro-It.svg#SourceSansPro-It') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: font-url('source-sans-pro/SourceSansPro-LightIt.eot');
    src: font-url('source-sans-pro/SourceSansPro-LightIt.eot?#iefix') format('embedded-opentype'),
        font-url('source-sans-pro/SourceSansPro-LightIt.woff2') format('woff2'),
        font-url('source-sans-pro/SourceSansPro-LightIt.woff') format('woff'),
        font-url('source-sans-pro/SourceSansPro-LightIt.ttf') format('truetype'),
        font-url('source-sans-pro/SourceSansPro-LightIt.svg#SourceSansPro-LightIt') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: font-url('source-sans-pro/SourceSansPro-ExtraLightIt.eot');
    src: font-url('source-sans-pro/SourceSansPro-ExtraLightIt.eot?#iefix') format('embedded-opentype'),
        font-url('source-sans-pro/SourceSansPro-ExtraLightIt.woff2') format('woff2'),
        font-url('source-sans-pro/SourceSansPro-ExtraLightIt.woff') format('woff'),
        font-url('source-sans-pro/SourceSansPro-ExtraLightIt.ttf') format('truetype'),
        font-url('source-sans-pro/SourceSansPro-ExtraLightIt.svg#SourceSansPro-ExtraLightIt') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: font-url('source-sans-pro/SourceSansPro-BlackIt.eot');
    src: font-url('source-sans-pro/SourceSansPro-BlackIt.eot?#iefix') format('embedded-opentype'),
        font-url('source-sans-pro/SourceSansPro-BlackIt.woff2') format('woff2'),
        font-url('source-sans-pro/SourceSansPro-BlackIt.woff') format('woff'),
        font-url('source-sans-pro/SourceSansPro-BlackIt.ttf') format('truetype'),
        font-url('source-sans-pro/SourceSansPro-BlackIt.svg#SourceSansPro-BlackIt') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: font-url('source-sans-pro/SourceSansPro-SemiboldIt.eot');
    src: font-url('source-sans-pro/SourceSansPro-SemiboldIt.eot?#iefix') format('embedded-opentype'),
        font-url('source-sans-pro/SourceSansPro-SemiboldIt.woff2') format('woff2'),
        font-url('source-sans-pro/SourceSansPro-SemiboldIt.woff') format('woff'),
        font-url('source-sans-pro/SourceSansPro-SemiboldIt.ttf') format('truetype'),
        font-url('source-sans-pro/SourceSansPro-SemiboldIt.svg#SourceSansPro-SemiboldIt') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: font-url('source-sans-pro/SourceSansPro-Semibold.eot');
    src: font-url('source-sans-pro/SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'),
        font-url('source-sans-pro/SourceSansPro-Semibold.woff2') format('woff2'),
        font-url('source-sans-pro/SourceSansPro-Semibold.woff') format('woff'),
        font-url('source-sans-pro/SourceSansPro-Semibold.ttf') format('truetype'),
        font-url('source-sans-pro/SourceSansPro-Semibold.svg#SourceSansPro-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: font-url('source-sans-pro/SourceSansPro-Black.eot');
    src: font-url('source-sans-pro/SourceSansPro-Black.eot?#iefix') format('embedded-opentype'),
        font-url('source-sans-pro/SourceSansPro-Black.woff2') format('woff2'),
        font-url('source-sans-pro/SourceSansPro-Black.woff') format('woff'),
        font-url('source-sans-pro/SourceSansPro-Black.ttf') format('truetype'),
        font-url('source-sans-pro/SourceSansPro-Black.svg#SourceSansPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: font-url('source-sans-pro/SourceSansPro-ExtraLight.eot');
    src: font-url('source-sans-pro/SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
        font-url('source-sans-pro/SourceSansPro-ExtraLight.woff2') format('woff2'),
        font-url('source-sans-pro/SourceSansPro-ExtraLight.woff') format('woff'),
        font-url('source-sans-pro/SourceSansPro-ExtraLight.ttf') format('truetype'),
        font-url('source-sans-pro/SourceSansPro-ExtraLight.svg#SourceSansPro-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: font-url('source-sans-pro/SourceSansPro-Bold.eot');
    src: font-url('source-sans-pro/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
        font-url('source-sans-pro/SourceSansPro-Bold.woff2') format('woff2'),
        font-url('source-sans-pro/SourceSansPro-Bold.woff') format('woff'),
        font-url('source-sans-pro/SourceSansPro-Bold.ttf') format('truetype'),
        font-url('source-sans-pro/SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
