footer{
    color          : $color-white;
    height         : $height-header;
    background     : $color-blue;
    line-height    : $height-header;
    width          : 100%;

    a{
        color          : $color-white;
    }

}
