$color-white: #FFF;
$color-purewhite: #F5F5F5;
$color-black: #333;
$color-blue:  #3498db;
$color-blue-dark: #446cb3;
$color-blue-light: #eff1f5;
$color-gray: #465165;
$color-gray-light: #666;
$color-red: #ce0404;
$color-green: #008000;
$color-semi-white: #F8F8FA;

$font-family-base: 'Open Sans', Helvetica, Arial, sans-serif;
$font-size-base: 12px;

$max-width-content: 1200px;
$height-header: 50px;
