<div class="banner_principal">
    <div class="content">
        <h1>Tu auto como en casa</h1>
        <p>
            La comunidad en línea para la renta de estacionamientos entre personas.
            <br />
            Como un AirBnB de estacionamientos.
        </p>
        <%= link_to 'Buscar estacionamiento', '#', { :class => 'btn btn-primary' } %>
    </div>
</div>