<div class="banner_search">
    <div class="content">
        <span class="banner_text">Encuentra el estacionamiento ideal para ti</span>
        <%= link_to 'Buscar estacionamiento', search_index_path, { :class => 'btn btn-success' } %>
    </div>
</div>
