<div class="banner_service">
    <div class="content">
        <div class="background_col_end"></div>
        <div class="banner_cols">
            <div class="banner_col banner_col_1">
                <div class="item_icon">
                    <%= icon('check') %>
                </div>

                <div class="item_title">
                    Validación de perfiles
                </div>

                <div class="item_description">
                    Los usuarios validan sus datos para crear una comunidad de confianza.
                </div>
            </div>

            <div class="banner_col banner_col_2">
                <div class="item_icon">
                    <%= icon('star') %>
                </div>

                <div class="item_title">
                    Reseñas
                </div>

                <div class="item_description">
                    Tu decides donde estacionarte gracias a las evaluaciones de los lugares de estacionamiento.
                </div>
            </div>

            <div class="banner_col banner_col_3">
                <div class="item_icon">
                    <%= icon('credit-card') %>
                </div>

                <div class="item_title">
                    Pagos seguros y sin efectivo
                </div>

                <div class="item_description">
                    Olvidate de tener que pagar con monedas o billetes. Nuestro sistema de pagos te lo facilita. Tu dinero está en buenas manos.
                </div>
            </div>
        </div>
    </div>
</div>
