<div class="banner_benefits content">
    <h2>¿Estas buscando un estacionamiento?</h2>
    <div class="banner_content">
        <h3>Beneficios</h3>

        <div class="banner_cols">
            <div class="banner_col">
                <div class="benefits_icon">
                    <%= icon('money') %>
                </div>
                <div class="benefits_text">
                    Ahorra tiempo
                    <br />
                    y dinero
                </div>
            </div>

            <div class="banner_col">
                <div class="benefits_icon">
                    <%= icon('search') %>
                </div>
                <div class="benefits_text">
                    Tú eliges tu
                    <br />
                    mejor opción
                </div>
            </div>

            <div class="banner_col">
                <div class="benefits_icon">
                    <%= icon('credit-card') %>
                </div>
                <div class="benefits_text">
                    Paga con tarjeta
                    <br />
                    de débito ó crédito
                </div>
            </div>
        </div>
    </div>
</div>
