<div class="banner_publish">
    <div class="content">
        <span class="banner_text">También puedes generar ingresos extras ofreciendo tu lugar disponible.</span>
        <%= link_to 'Ofrecer estacionamiento', "#", { :class => 'btn btn-success' } %>
    </div>
</div>
