<div class="banner_how_does_it_work">
    <div class="content">
        <h2>¿Cómo funciona?</h2>

        <div class="banner_cols">
            <div class="banner_col">
                <div class="item_icon">
                    <%= icon('map-marker') %>
                </div>

                <div class="item_title">
                    Busca en el mapa
                </div>

                <div class="item_description">
                    Explora el mapa e indica dónde quieres estacionarte.
                </div>
            </div>

            <div class="banner_col">
                <div class="item_icon">
                    <%= icon('credit-card') %>
                </div>

                <div class="item_title">
                    Reserva y paga
                </div>

                <div class="item_description">
                    Solicita el lugar que mas te acomode y espera una confirmación.
                </div>
            </div>

            <div class="banner_col">
                <div class="item_icon">
                    <%= icon('car') %>
                </div>

                <div class="item_title">
                    Estaciónate diferente
                </div>

                <div class="item_description">
                    Estaciona tu coche tan fácil como en casa.
                </div>
            </div>
        </div>
    </div>
</div>
