<div class= "content">
    <div> <%= render "parking/parts/leftcol" %> </div>
    <div> <%= render "parking/parts/rightcol" %> </div>
</div>
<div class="est-map-fondo">
    <img src="https://image.flaticon.com/icons/png/512/32/32364.png"/>
</div>
