<h1 class="contact-h1">Titulo de la pagina</h1>
<p class="faq-q" onclick="show_a('fr1')">
Pregunta
</p>
<p class="faq-a" id="fr1">
Respuesta
</p>



<!-- Copiar solo estas lineas de abajo para agregar otra pregunta -->
<p class="faq-q" onclick="show_a('fr2')">
Pregunta
</p>
<p class="faq-a" id="fr2">
Respuesta
</p>