<h1 class="contact-h1">Titulo de la pagina</h1>
<p class="faq-q" onclick="show_a('fr1')">
Pregunta
</p>
<p class="faq-a" id="fr1">
Respuesta
</p>

<p class="faq-q" onclick="show_a('fr2')">
Pregunta
</p>
<p class="faq-a" id="fr2">
Respuesta
</p>

<p class="faq-q" onclick="show_a('fr3')">
Pregunta
</p>
<p class="faq-a" id="fr3">
Respuesta
</p>

<p class="faq-q" onclick="show_a('fr4')">
Pregunta
</p>
<p class="faq-a" id="fr4">
Respuesta
</p>


<p class="faq-q" onclick="show_a('fr5')">
Pregunta
</p>
<p class="faq-a" id="fr5">
Respuesta
</p>

<p class="faq-q" onclick="show_a('fr6')">
Pregunta
</p>
<p class="faq-a" id="fr6">
Respuesta
</p>

<p class="faq-q" onclick="show_a('fr7')">
Pregunta
</p>
<p class="faq-a" id="fr7">
Respuesta
</p>

<p class="faq-q" onclick="show_a('fr8')">
Pregunta
</p>
<p class="faq-a" id="fr8">
Respuesta
</p>

<p class="faq-q" onclick="show_a('fr9')">
Pregunta
</p>
<p class="faq-a" id="fr9">
Respuesta
</p>

<!-- Copiar solo estas lineas de abajo para agregar otra pregunta -->
<p class="faq-q" onclick="show_a('fr2')">
Pregunta
</p>
<p class="faq-a" id="fr2">
Respuesta
</p>