<form action="/api/v1/users" METHOD='POST'>
  <p>Nombre completo:</p>
  <input type="text" name="name" placeholder="Ejemplo: Kenny Gonzales">
  
  <p>Correo electr&oacute;nico:</p>
  <input type="text" name="email" placeholder="Ejemplo: k3@yopmail.com">
  
  <p>Contrase&ntilde;a:</p>
  <input type="password" name="password" placeholder="Ejemplo: lkDD55Tg">
  
  <p>N&uacute;mero de tel&eacute;fono:</p>
  <input type="text" name="phone" placeholder="Ejemplo: 999885471">
  <br><br>
  <input type="submit" value="Registrate">
  <p>¿Ya estas registrado? <%= link_to 'Inicia Sesion', "#" %></p>
</form>