<p class="titulo-search">Ofertas cerca a mi!</p>

<div id="map"></div>
<%= render "welcome/parts/map" %>
<div class="left-block" id="listoffers">
    <%= render "welcome/parts/listoffers" %>
</div>
<br><br><br><br>
<!-- fin  -->