.banner_service{
    background: darken($color-blue-dark, 10%);
    color: $color-white;
    position: relative;

    .background_col_end{
        position: absolute;
        z-index: 0;
        background: lighten($color-blue-dark, 10%);
        top: 0;
        right: 0;
        bottom: 0;
        width: 50%;
    }

    .banner_cols{
        @include clearfix;
        display: table;
        width: 100%;
        position: relative;
        z-index: 1;

        @media all and (max-width: 490px) {
            display: block;
        }

        .banner_col{
            display: table-cell;
            width: 33.333333%;
            text-align: center;
            padding: 40px 15px;
            background-color: darken($color-blue-dark, 10%);

            &.banner_col_2{
                background-color: $color-blue-dark;
            }

            &.banner_col_3{
                background-color: lighten($color-blue-dark, 10%);
            }

            @media all and (max-width: 490px) {
                width: 100%;
                text-align: center;
                display: block;
            }

            .item_icon{
                font-size: 50px;
                padding-bottom: 15px;

                @media all and (max-width: 810px) {
                    font-size: 30px;
                    padding-bottom: 5px;
                }
            }

            .item_title{
                font-size: 30px;
                font-weight: 400;
                font-family: 'Source Sans Pro';
                padding-bottom: 10px;

                @media all and (max-width: 810px) {
                    font-size: 20px;
                }

                @media all and (max-width: 460px) {
                    font-size: 16px;
                    padding-bottom: 5px;
                }
            }

            .item_description{
                font-size: 14px;

                @media all and (max-width: 810px) {
                    font-size: 12px;
                    padding: 0 5px;
                }
            }
        }
    }
}
