<h1 class="contact-h1">PREGUNTAS Y RESPUESTAS FRECUENTES</h1>
<p class="faq-q" onclick="show_a('fr1')">
1. ¿Cómo puedo registrarme como Usuario?
</p>
<p class="faq-a" id="fr1">
El requisito para registrarse como Usuario en TU AUTO COMO EN CASA es tener la necesidad particular para separal o alquilar un estacionamiento afiliado que utilizan en TU AUTO COMO EN CASA para la comunicación con sus afiliados.
Esta compañía le invitará a forma parte expresa a que se registre como usuario o proveedor en TU AUTO COMO EN CASA. Si aun no ha recibido una invitación, puede realizar aquí el registro:
<br><br>
- Registrarse ahora como Usuario<br>
- Registrarse ahora como Proveedor
</p>

<p class="faq-q" onclick="show_a('fr2')">
2. ¿Cuánto debo pagar por utilizar un Estacionamiento de Confianza?
</p>
<p class="faq-a" id="fr2">
Si tiene preguntas sobre las tarifas, diríjase a nuestro equipo de asistencia mediante <a href="/welcome/contact">Contacto</a>.
</p>

<p class="faq-q" onclick="show_a('fr3')">
3. ¿Qué se entiende por Estacionamiento de Confianza?
</p>
<p class="faq-a" id="fr3">
Al igual que su banco le ofrece entre sus servicios la posibilidad de realizar transacciones por Internet, tu auto como en casa le ofrece numerosos servicios en línea para la tramitación electrónica de procesos. Todos nuestros servicios tienen por objeto facilitar la colaboración entre diferentes afiliados y usuarion a través de Internet. En este contexto, entendemos que nuestros servicios primordialmente es darle soluciones a su estacionamiento.
</p>

<p class="faq-q" onclick="show_a('fr4')">
4. ¿Para qué tipo de usuario y qué sectores está pensado TU AUTO COMO EN CASA?
</p>
<p class="faq-a" id="fr4">
Las soluciones de TU AUTO COMO EN CASA han sido desarrolladas especialmente para aquellos usuarios que necesitan un estacionamiento sercano a su centro de labores o donde requieran dejar su automovil en un lugar seguro para esto cuentan con una serie de acondicionamientos para la seguridad del usuario. Generalmente se trata de proporcionar tranquilidad y seguridad a los usuarios y tambien de ayudar a aquellas personas que decean tener un ingreso extra alquilando sus espacios libres.
</p>


<p class="faq-q" onclick="show_a('fr5')">
5. ¿TU AUTO COMO EN CASA recomienda a sus contactos?
</p>
<p class="faq-a" id="fr5">
Utilizar TU AUTO COMO EN CASA es tener tranquilidad, seguridad ycomodidad para con sus autos ej.:<br><br>
- Tener un lugar apartado por el perioo de tiempo que disponga sin que nadie te gane el espacio.<br>
- Parqueos en lugares estrategicos y acondicionados para que su auto este por el tiempo que usted disponga.<br>
- ¿Reúne esta pagina sus espectativas?<br><br>
Entonces deberíamos sentarnos a hablar sobre si es conveniente que utilice TU AUTO COMO EN CASA también con sus contactos. Póngase en contacto con nosotros mediante <a href="/welcome/contact">Contacto</a>.
</p>

<p class="faq-q" onclick="show_a('fr6')">
6. ¿En qué se diferencia TU AUTO COMO EN CASA con otras plataformas similares?
</p>
<p class="faq-a" id="fr6">
El modelo comercial de TU AUTO COMO EN CASA se basa en la idea del bien de uso compartido por una red de usuarios: su valor aumenta cuantos más usuarios lo difundan o utilicen (como son, p. ej., el teléfono o Internet).
</p>

<p class="faq-q" onclick="show_a('fr7')">
7. ¿Qué se entiende por Buscar Estacionamieto?
</p>
<p class="faq-a" id="fr7">
TU AUTO COMO EN CASA ofrece soluciones a tu necesidad segura y serca de ti. Este aplicatico te ayuda a solucionar problemas de estacionamiento de tu vehiculo dando la facilidad de estacionarlo en un ambiente seguro y propio por el tiempo que lo requieras sin que nadie ocupe el espacio, este estaria separado por ti via online, lo novedoso es que puedes separar lo en cualquier ubicación exacta sin necesida de salir a buscalo. No inviertes en mantenimiento ni Limpieza.
</p>

<p class="faq-q" onclick="show_a('fr8')">
8. ¿Qué es TU AUTO COMO EN CASA? ¿En una necesidad de alquilar, un espacio o cochera virtual?
</p>
<p class="faq-a" id="fr8">
Desde un principio el negocio de Internet, a ido formando como parte d nogocio por lo tanto desde que se creó TU AUTO COMO EN CASA, han surgido numerosas entidades pero ninguna como TU AUTO COMO EN CASA. Puesto que esta empresa marca la diferencia con su conceptos, respondiendo a distintas acepciones, queremos hacer una breve diferencia en el Mercado electrónico. Se define a menudo como un mercado de compraventa electrónico, pero existe una importante diferencia: TU AUTO COMO EN CASA no es un mercado de compraventa abierto en el que pueda registrarse cualquier cliente, para presentar a sus contactos potenciales de servicios como en páginas amarillas. Poniendo como ejemplo un edificio, es fácil reconocer la diferencia: que el portal es en esta imagen la puerta de entrada; la plataforma es el fundamento de todo el edificio, es decir, la base sobre la que se sustentan todas las aplicaciones empresariales. Solo después de autentificarse en el portal (p. ej. con su contraseña al iniciar la sesión) es posible el acceso a la plataforma. Desde allí se pueden solicitar los diferentes espacios de alquiler (como p. ej. Los Portales, etc.).
</p>

<p class="faq-q" onclick="show_a('fr9')">
9. ¿Qué se necesita para utilizar la pagina TU AUTO COMO EN CASA?
</p>
<p class="faq-a" id="fr9">
Aquí puede encontrar los ajustes necesarios.
</p>

<!-- Copiar solo estas lineas de abajo para agregar otra pregunta
<p class="faq-q" onclick="show_a('fr2')">
Pregunta
</p>
<p class="faq-a" id="fr2">
Respuesta
</p>-->
